
body {
    background-color: black;
    overflow-x: hidden;
} 

/* Styling the navbars and footer */

.navbar1 {
    height: 10vh;
    z-index: 2;
}

.navbar1 a {
    height: 100%;
    text-decoration: none;
    color: #E50914;
    font-weight: 700;
    transition: 300ms;
    font-size: 1rem;
}

.navbar1 div {
    height: 60%;
}

.navbar1 img {
    height: 100%;
    object-fit: contain;
    object-position: top;
    width: 100%; 
}

        
.navbar1.scrolled {
    background: rgba(0, 0, 0, 0.49);
    transition: background 500ms;
}

.profilelogo img {
    border-radius: 20%;
}


.navbar1 li {
    list-style: none;
    text-align: center;
}


.navbar1 a:hover {
    color: #da676d;
}

footer {
    background-color: black;
    height: 7vh;
}

footer a {
    height: 100%;
    text-decoration: none;
}

footer img {
    background-color: #ced7d5; 
}

footer section {
    height: 100%;
}

footer h3 {
    font-size: 0.8em;
    text-align: center;
    color: #ced7d5; 
}

/* Styling the mainpage */

.featuring {
    height: 80vh;
    z-index: 1;
    position: absolute;
    top: 0px;
}

.featuring img {
    height: 100%;
    object-fit: cover;
    object-position: top;
}
